<header>
    <nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <span class="navbar-logo"><img src="{{ site.baseurl }}/assets/img/crdt-lattice.png" width="30" height="30"></span>
            <span class="font-weight-bold">{{ site.title }}</span>
        </a>
        <div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
                <ul class="navbar-nav mt-2 mt-lg-0">{% if site.repo %}
                        <li class="nav-item mr-4 mb-2 mb-lg-0">
                            <a class="nav-link" href="{{ site.repo }}" target="_blank"><span>GitHub</span></a>
                        </li>{% endif %}{% for link in site.data.navigation %}
                        <li class="nav-item mr-4 mb-2 mb-lg-0">
                            <a class="nav-link" href="{% if link.url %}{{ site.baseurl }}/{{ link.url }}{% else %}{{ link.external_url }}{% endif %}" ><span>{{ link.title }}</span></a>
                        </li>{% endfor %}
                </ul>
        </div>
      </div>
    </nav>
</header>
